@media (max-width:1024px){
    
    .video-text-small {
    padding: 0 2rem;
}
    .video-text-1 {
    text-align: center;
}
.video-text-3 {
    text-align: center;
}
    .video-text-2 {
    font-size: 55px;
}
    .video-text-2 .brbr{
        display: visible;
     }
    #btn-gnb {
    margin-left: 2rem;
}
    html{
        font-size: 14px;
    }
    .blackandwhite .bnwframe{
        width: auto;
        margin: 0 2rem;
}
    .introduce-text h2 {
    line-height: 100%;
}
    .bnwframe .profile {
    margin-bottom: 30px;
}
    .exp-head .period {
        font-size: 33px;
    }
    .exp-body figure img{
        height: 250px;
    }
    .skills .skills-title {
    height: 280px;
}
.skills ul li {
    padding: 24px;
}
.slider-h1 {
    font-size: 70px;
}
.star{
    font-size: 70px;
}
.special-h1 {
    font-size: 70px;
    text-align: right;
}
.blackandwhite .bnwframe .experience-h1 {
    font-size: 70px;
    margin-top: 12rem;
}
.slider-p {
    /* margin-bottom: 80px; */
    padding-top: 100px;
    padding-left: 10px;
}
.project {
    font-size: 70px;
    text-align: center;
    margin-bottom: 10px;
}
.project-h1 {
    font-size: 50px;
    margin-left: 2rem;
}
.project-p {
    padding-top: 17px;
}
.project-h1-2 {
    font-size: 50px;
    margin-left: 2rem;
}
.project-p-2 {
    padding-top: 17px;
}
.project-title2 {
    display: flex;
    margin-top: 80px;
}
}

@media (max-width:768px){
    html{
        font-size: 12px;
    }
    .name-wrap h3 {
    font-size: 75px;
}
    .experience-h1 {
    font-size: 80px;
}
    .exp-body figure img {
    height: 180px;
}
    .bnwframe.experience-h1:nth-of-type(2) {
    font-size: 80px;
}
    .bnwframe .experience .exp-head .period {
    font-size: 23px;
}
    .bnwframe .skills ul li {
    /* height: 210px; */
}
    .experience-h1-2 {
        font-size: 80px;
    }
    .skills-title h1 {
        font-size: 80px;
    }
    .slider-h1 {
        font-size: 80px;
    }
    .bnwframe .introduce-text h2 {
        font-size: 20px;
    }
    .blackandwhite .bnwframe .experience-h1 {
        font-size: 50px;
        margin-top: 12rem;
    }
    .special-h1 {
    font-size: 50px;
    text-align: left;
}
    .star{
        font-size: 50px;
    }
    .slider-h1 {
        font-size: 50px;
    }
    .slide img {
        width: 200px;
        height: 200px;
        border-radius: 6px;
        object-fit: cover;
        transition: transform .25s ease;
    }
    .swiper-slide{
        width: 100%;
        flex-direction: column;
    }
    .swiper-slide div{
        width: 100%;
    }
    .swiper-slide figure{
        width: 100%;
    }
    .swiper-wrapper .swiper-slide div h4 {
        text-align: center;
        /* padding-bottom: 15px; */
        padding-top: 15px;
    }
    .swiper-wrapper.swiper-slide div p {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 30px;
        line-height: 140%;
    }
    .slider-p {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
}
    .slider-title span {
    padding-top: 0px;
}
    .special {
        padding-top: 0px;
        padding-right: 0px;
    }
    .experience-title-wrap span {
        display: inline-block;
        padding-top: 13rem;
        padding-left: 1rem;
    }
    .swiper-slide div p {
        text-align: center;
        margin-top: 0px;
        line-height: 140%;
    }
    .project {
        font-size: 50px;
        text-align: center;
        margin-bottom: 10px;
    }
    .project-title{
        display: block;
    }
    .project-title2{
        display: block;
    }
    .project-h1 {
        font-size: 30px;
        margin-left: 2rem;
    }
    .project-h1-2 {
        font-size: 30px;
        margin-left: 2rem;
    }
    .project-p {
        padding-left: 0px;
        margin-left: 2rem;
        padding-top: 5px;
        margin-bottom: 10px;
    }

    .project-p-2{
        padding-left: 0px;
        margin-left: 2rem;
        padding-top: 5px;
        margin-bottom: 10px;
    }
    .project-h1-2 {
        font-size: 30px;
        margin-left: 2rem;
        margin-top: 80px;
    }
    .skills ul {
    grid-template-columns: 1fr 1fr;
}
    .introduce {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
}
.introduce-2 {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
}
.thankyou-top {
    font-size: 25px;
    gap: 9px;
}
.experience-title-wrap {
    flex-direction: column;
    display: flex;
}
.experience-title-wrap span {
    /* display: inline-block; */
    padding-top: 0rem;
    padding-left: 0rem;
}
.special-wrap {
    flex-direction: column-reverse;
}
.slider-title {
    display: flex;
    flex-direction: column;
}
.banner-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
}

@media (max-width:600px){
    .thankyou-top {
    font-size: 20px;
}
}
@media (max-width:420px){
    .name-wrap h3 {
    font-size: 75px;
}   
.name h1 {
    font-size: 128px;
}
.special-h1 {
    font-size: 36px;
    text-align: left;
}
}

@media (max-width:400px){
    .introduce-text-2 {
    /* margin-top: 100px; */
    line-height: 145%;
    margin: 3rem 2rem;
}
    .video-text-small {
    padding: 0 1rem;
}
    .video-text-2 {
    font-size: 35px;
}
.video-text-1, .video-text-3{
    font-size: 15px;
}
.video-wrap .first {
    font-size: 14px;
}
.second,.third,.last {
    font-size: 14px;
}
     #btn-gnb {
    margin-left: 1rem;
}
    .blackandwhite .bnwframe{
        width: auto;
        margin: 0 1rem;
}   
    .name h1 {
    font-size: 145px;
}
    .name h1 {
    font-size: 175px;
}
    .introduce {
    display: flex;
    /* justify-content: flex-end; */
    gap: 80px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
    .introduce-text h2 {
    margin-bottom: 50px;
    font-size: 22px;
}
    .introduce {
        gap: 0;
}
.introduce-2 {
    display: flex;
    /* justify-content: flex-end; */
    gap: 80px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
    .introduce-text-2 h2 {
    margin-bottom: 50px;
    font-size: 22px;
}
    .introduce-2 {
        gap: 0;
}
    .experience-h1 {
    font-size: 40px;
}
    .experience-h1:nth-of-type(2) {
    font-size: 40px;
}
    .skills ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
    .skills ul li {
    height: 120px;
}
.bnwframe .experience .exp-head .period {
    font-size: 12px;
}
    .exp-head {
    column-gap: 10px;
}
    .company{
        font-size: 10px;
    }
    .exp-body figure img {
        height: 100%;
        width: 100%;
    }   
.blackandwhite .bnwframe .experience-h1-2 {
    font-size: 40px;
}
.skills-title h1 {
    font-size: 40px;
}
.blackandwhite .bnwframe .experience-h1 {
    font-size: 40px;
}
.skills .skills-title {
    height: 210px;
}

.bnwframe .skills ul li {
    height: 130px;
}
.slider-h1 {
    font-size: 40px;
}
.introduce-text {
    margin-top: 40px;

}
.skills {
    margin-bottom: 70px;
}
.zoom-img {
    width: 270px;
}
.slide img {
    width: 100px;
    height: 160px;
}
.exp-body figure img {
    height: 100%;
    width: 100%;
}
.exp-body.open figure {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.exp-body.open {
    max-height: 1200px;
    padding: 15px 5px;
}
.slider-title {
    display: flex;
    flex-direction: column;
}
.special-wrap {
    flex-direction: column;
}
.experience-title-wrap {
    display: flex;
    flex-direction: column-reverse;
}
.blackandwhite .bnwframe .experience-h1 {
    margin-top: 0rem;
}
.experience-title-wrap span {
    display: inline-block;
    padding-top: 14rem;
    padding-left: 0rem;
}
.slider-title span {
    display: inline-block;
    padding-top: 0px;
}
.banner-title{
    display: flex;
    flex-direction: column;
}
.slider-p {
    padding-top:0px;
    padding-left: 0;
    margin-bottom: 20px;
}
.slide img {
    width: 180px;
    height: 240px;
}
.skills ul li {
    padding: 30px;
}
.project {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}
.project-p {
    padding-left: 0px;
    margin-left: 1rem;
    padding-top: 5px;
    margin-bottom: 10px;
    margin-right: 1rem;
}
.project-h1 {
    font-size: 30px;
    margin-left: 1rem;
}
.project-p-2 {
    padding-left: 0px;
    margin-left: 1rem;
    padding-top: 5px;
    margin-bottom: 10px;
    margin-right: 1rem;
}
.project-h1-2 {
    font-size: 30px;
    margin-left: 1rem;
}
.thankyou-top {
    font-size: 20px;
    margin-top: 400px;
    gap: 5px;
}
.thankyou ul {
    font-size: 16px;
    margin-bottom: 340px;
    gap: 18px;
}
.name h1 {
    font-size: 127px;
}
.name-wrap h3 {
    font-size: 45px;
}
.name-wrap p {
    padding-left: 0;
    font-family: "Crimson Pro";
}
.bnwframe .skills ul li {
    height: auto;
}
.thankyou-top {
    font-size: 15px;
}
}

@media (max-width:280px){
    .introduce-text-2 {
    margin: 0;
}
    .second, .third, .last {
    font-size: 12px;
}
    .exp-body.open {
        max-height: 800px;
        padding: 15px 5px;
    }
    .name h1 {
    font-size: 100px;
}
    .name-wrap h3 {
    font-size: 30px;
    margin-bottom: 10px;
}
    .flip-card {
    width: 250px;
}
    .introduce-text h2 {
    font-size: 16px;
}
    .introduce-text {
    margin-top: 50px;
}
.flip-card-2 {
    width: 250px;
}
    .introduce-text-2 h2 {
    font-size: 16px;
}
    .introduce-text-2 {
    margin-top: 50px;
}
    .experience-h1 {
    font-size: 30px;
}
    .experience-h1:nth-of-type(2) {
    font-size: 30px;
}
    .skills .skills-title {
    height: 190px;
}
    .skills-title{
        font-size: 70px;
    }
    .name-wrap p {
    padding-left: 0px;
    font-family: "Crimson Pro";
}
    .skills ul li {
    height: 190px;
}
    .exp-body figure {
    gap: 5px;
}
.profile {
    font-size: 10px;
}
.introduce-text {
    margin-top: 70px;
}
.introduce-text-2 {
    margin-top: 70px;
}
.bnwframe .profile {
    margin-bottom: 60px;
}
.slider-h1 {
    font-size: 28px;
}
.skills-title h1 {
    font-size: 28px;
}
.blackandwhite .bnwframe .experience-h1-2 {
    font-size: 28px;
}
.blackandwhite .bnwframe .experience-h1 {
    font-size: 28px;
}
.bnwframe .skills ul li {
    height: 200px;
}
.zoom-img {
    width: 200px;
}
.bnwframe .introduce-text h2 {
    font-size: 15px;
}
.exp-body.open figure {
    flex-direction: column;
}
.special-wrap .special-h1 {
    font-size: 28px;
    text-align: inherit;
}
.skills ul li{
    padding: 20px;
}
.project {
    font-size: 27px;
    text-align: center;
    margin-bottom: 3px;
}
.project-p{
    text-align: center;
    margin-bottom: 10px;
}
.thankyou-top {
    font-size: 14px;
    margin-top: 370px;
    gap: 5px;
}
.thankyou ul {
    font-size: 15px;
    margin-bottom: 340px;
    gap: 17px;
}
}